<div class="container">
  <div class="row">

    <div class="col">
      <div class="row">
        <div class="col">
          <h1>Icon</h1>
        </div>
      </div>

      <!-- Icon:Hover / Terminal -->
      <div class="container">
        <!-- gcon-chervon -->
        <div class="row">
          <div class="col">
            <gcon-chevron [strokeWidth]="2" [animationAction]="'hover'" [chevronDirection]="'up'" [double]="false">
            </gcon-chevron>
          </div>
          <div class="col">
            <div class="terminal">
              <pre>gcon-chervon | chevronDirection: 'left', 'right', 'up', 'down' old</pre>
            </div>
          </div>
        </div>
        <!-- gcon-rotate -->
        <div class="row">
          <div class="col">
            <gcon-rotate [strokeWidth]="2" [animationAction]="'hover'" [clockWise]="true"></gcon-rotate>
          </div>

          <div class="col">
            <div class="terminal">
              <pre>gcon-heavy-rain</pre>
            </div>
          </div>
        </div>
        <!-- gcon-printer -->
        <div class="row">
          <div class="col">
            <gcon-printer [strokeWidth]="1" [animationAction]="'hover'">
            </gcon-printer>
          </div>

          <div class="col">
            <div class="terminal">
              <pre>gcon-printer</pre>
            </div>
          </div>
        </div>
        <!-- gcon-menu -->
        <div class="row">
          <div class="col">
            <gcon-menu [strokeWidth]="2" [animationAction]="'hover'"></gcon-menu>
          </div>

          <div class="col">
            <div class="terminal">
              <pre>gcon-menu</pre>
            </div>
          </div>
        </div>
        <!-- gcon-minimize -->
        <div class="row">
          <div class="col">
            <gcon-minimize [strokeWidth]="2" [animationAction]="'hover'" [iconColor]="'red'">
            </gcon-minimize>
          </div>

          <div class="col">
            <div class="terminal">
              <pre>gcon-minimize</pre>
            </div>
          </div>
        </div>
        <!-- gcon-layers -->
        <div class="row">
          <div class="col">
            <gcon-layers [strokeWidth]="2" [animationAction]="'hover'">
            </gcon-layers>
          </div>

          <div class="col">
            <div class="terminal">
              <pre>gcon-layers</pre>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>