<div class="container">
  <div class="row">
    <div class="col">
      <h1>Garicon Collections</h1>
    </div>
  </div>

  <!-- Icon:Hover / Terminal -->
  <div class="container">
    <div class="row">
      <div class="col">
        <gcon-rain [strokeWidth]="2" [animationAction]="'hover'"></gcon-rain>
      </div>
      <div class="col">
        <div class="terminal">
          <pre>gcon-rain</pre>
        </div>
      </div>
    </div>
    <!-- heavy-rain -->
    <div class="row">
      <div class="col">
        <gcon-heavy-rain [strokeWidth]="2" [animationAction]="'hover'"></gcon-heavy-rain>
      </div>

      <div class="col">
        <div class="terminal">
          <pre>gcon-heavy-rain</pre>
        </div>
      </div>
    </div>
     <!-- overcast -->
     <div class="row">
      <div class="col">
        <gcon-overcast [strokeWidth]="2" [animationAction]="'hover'"></gcon-overcast>
      </div>

      <div class="col">
        <div class="terminal">
          <pre>gcon-overcast</pre>
        </div>
      </div>
    </div>
  </div>